.container1{
    background-color: lightblue;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: row;
}
.box{
    width: 250px;
    height: 250px;
}
.red{
    background-color: red;
}
.container2{
    background-color: lightcoral;
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: flex-end;
}
.green{
    background-color: mediumaquamarine;
}