/* Стили для сброса отступов и полей для всех элементов на странице */
* {
    margin: 0;
    padding: 0;
}

/* Стили для элемента с классом "mavic" */
.mavic {
    width: 640px; /* Ширина элемента */
    height: 400px; /* Высота элемента */
    background-color: #76aa31; /* Цвет фона */
    margin: 0 auto; /* Центрирование элемента по горизонтали */
    display: flex; /* Использование flex-контейнера */
    justify-content: center; /* Выравнивание содержимого по горизонтали */
    align-items: center; /* Выравнивание содержимого по вертикали */
    position: relative; /* Позиционирование элемента относительно его нормального положения */
    cursor: pointer; /* Изменение курсора при наведении на элемент */
    overflow: hidden; /* Обрезание контента, выходящего за границы элемента */
}

/* Стили для заголовка внутри элемента с классом "mavic" */
.mavic__title {
    position: absolute; /* Абсолютное позиционирование элемента */
    bottom: 20px; /* Отступ от нижнего края */
    left: 30px; /* Отступ от левого края */
    font-size: 24px; /* Размер шрифта */
    font-family: sans-serif; /* Семейство шрифтов */
    color: #fff; /* Цвет текста */
}

/* Стили для изображения внутри элемента с классом "mavic" */
.mavic-img {
    animation-name: mavic-off; /* Имя анимации по умолчанию */
    animation-duration: 1s; /* Длительность анимации */
    animation-timing-function: ease-out; /* Функция времени анимации */
}

/* Стили для изображения внутри элемента с классом "mavic" при наведении на элемент "mavic" */
.mavic:hover .mavic-img {
    animation-name: mavic-on; /* Имя анимации при наведении */
    animation-duration: 1s; /* Длительность анимации */
    animation-fill-mode: forwards; /* Задание состояния после анимации */
}

/* Стили для псевдо-элементов "::after" и "::before" внутри элемента с классом "mavic" */
.mavic::after,
.mavic::before {
    content: ""; /* Добавление пустого содержимого */
    width: 300px; /* Ширина псевдо-элементов */
    height: 300px; /* Высота псевдо-элементов */
    position: absolute; /* Абсолютное позиционирование */
    transition: all 1s; /* Плавное изменение всех свойств за 1 секунду */
}

/* Стили для псевдо-элемента "::after" внутри элемента с классом "mavic" */
.mavic::after {
    background-image: url(../img/iphone-front.png); /* Фоновое изображение */
    right: 21%; /* Отступ от правого края */
    transform: translate(0, 200%) rotate(20deg); /* Трансформация */
}

/* Стили для псевдо-элемента "::before" внутри элемента с классом "mavic" */
.mavic::before {
    background-image: url(../img/iphone-back.png); /* Фоновое изображение */
    left: 21%; /* Отступ от левого края */
    transform: translate(0, 200%) rotate(-20deg); /* Трансформация */
}

/* Стили для псевдо-элементов "::after" и "::before" внутри элемента с классом "mavic" при наведении на элемент "mavic" */
.mavic:hover::after,
.mavic:hover::before {
    animation-duration: 1s; /* Длительность анимации */
    animation-fill-mode: forwards; /* Задание состояния после анимации */
}

/* Стили для псевдо-элемента "::after" внутри элемента с классом "mavic" при наведении на элемент "mavic" */
.mavic:hover::after {
    animation-name: front-on; /* Имя анимации при наведении */
}

/* Стили для псевдо-элемента "::before" внутри элемента с классом "mavic" при наведении на элемент "mavic" */
.mavic:hover::before {
    animation-name: back-on; /* Имя анимации при наведении */
}

/* Ключевые кадры для анимации при наведении на элемент "mavic" */
@keyframes mavic-on {
    0% {
        transform: translateY(0); /* Изначальное положение анимации */
    }
    100% {
        transform: translateY(-200%); /* Конечное положение анимации */
    }
}

/* Ключевые кадры для анимации при наведении на элемент "mavic" */
@keyframes mavic-off {
    0% {
        transform: translateY(-200%); /* Изначальное положение анимации */
    }
    60% {
        transform: translateY(30px); /* Промежуточное положение анимации */
    }
    70% {
        transform: translateY(-20px); /* Промежуточное положение анимации */
    }
    80% {
        transform: translateY(15px); /* Промежуточное положение анимации */
    }
    90% {
        transform: translateY(-10px); /* Промежуточное положение анимации */
    }
    100% {
        transform: translateY(0); /* Конечное положение анимации */
    }
}

/* Ключевые кадры для анимации при наведении на элемент "mavic" */
@keyframes front-on {
    0% {
        right: 21%; /* Изначальное положение анимации */
        transform: translate(0, 200%) rotate(20deg); /* Изначальная трансформация */
    }
    100% {
        transform: translate(0, 0) rotate(0deg); /* Конечная трансформация */
    }
}

/* Ключевые кадры для анимации при наведении на элемент "mavic" */
@keyframes back-on {
    0% {
        left: 21%; /* Изначальное положение анимации */
        transform: translate(0, 200%) rotate(-20deg); /* Изначальная трансформация */
    }
    100% {
        transform: translate(0, 0) rotate(0deg); /* Конечная трансформация */
    }
}
