*{
  background-color: rgba(238, 237, 189, 0.466);
}
img {
  height: 400px;
}
h2{
  color: rgb(226, 46, 151);
}
div.subheader{
  font-size: large;
  background-color: beige;
}
a{
  color: green;
}
img.pande{
  border-radius: 50px;
}
p.intro{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
p.main-text{
  text-decoration: dotted;
  color: rgb(27, 2, 2);
}
p.main-text.text-more{
  color: red;
  font-style: oblique;
}
p.idea{
  color: rgb(10, 107, 26);
  text-align: right;
}
footer{
  font-variant: small-caps;
  font-size: xx-large;
}