*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}
.cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.cars div:hover{
    background-size: 150%;
    background-position: right 120% top 50%;
}
.cars div.XV:hover{
    background-size: 150%;
    background-position: right 120% top 50%;
}
.cars div.WRX:hover{
    background-size: 150%;
    background-position: right 120% top 50%;
}
.cars div.outback:hover{
    background-size: 150%;
    background-position: right 120% top 50%;
}

.cars div{
    width: 360px;
    height: 360px;
    background-color: #f8f8f8;
    outline: 1px solid black;
    margin: 20px;
    background-image: url("https://subaru.ru/uploads/blocks/resize__320_26ec82e7c8c1280a715f8ae985ff9abd61ba58e731bb3.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    transition: background .5s;
}

.cars div.XV{
    width: 360px;
    height: 360px;
    background-color: #f8f8f8;
    outline: 1px solid black;
    margin: 20px;
    background-image: url("https://subaru.ru/uploads/blocks/resize__320_50801c219b1e415224ae1a612dfa3e4e603f6153327ea.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    transition: background .5s;
}
.cars div.WRX{
    width: 360px;
    height: 360px;
    background-color: #f8f8f8;
    outline: 1px solid black;
    margin: 20px;
    background-image: url("https://subaru.ru/uploads/blocks/resize__320_b693995b9c64825089ebe6f005f6193065c22d2c34ffd.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    transition: background .5s;
}
.cars div.outback{
    width: 360px;
    height: 360px;
    background-color: #f8f8f8;
    outline: 1px solid black;
    margin: 20px;
    background-image: url("https://subaru.ru/uploads/blocks/resize__320_be46c15c4ccab75109582f3dc9a7372460f01b6592b39.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    transition: background .5s;
}

.cars div:hover .descr{
    opacity: 1;
}
.cars div.XV:hover .descr{
    opacity: 1;
}
.cars div.MRX:hover .descr{
    opacity: 1;
}
.cars div.outback:hover .descr{
    opacity: 1;
}
.cars div .descr{
    position: relative;
    opacity: 0; /* invisiability */
    display: inline-block;
    color: blue;
    text-decoration: none;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 4px;
    top: 270px;
    left: 20px;
    transition: background .5s, color .9s;
}
.cars div .descr:hover{
    background-color: blue;
    color: white;
}
h1{
    text-align: center;
    padding: 50px;
}