*{
    background-color: rgb(74, 99, 99);
}
#refreshButton{
    width: 150px;
    height: 50px;
    background-color: black;
    color: turquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;

}
h1{
    display: flex;
    justify-content: center;
    color: turquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}